name: GitHub-Profile-3D-Contrib

on:
  schedule: # 03:00 JST == 18:00 UTC
    - cron: "0 18 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v5
      - uses: yoshi389111/github-profile-3d-contrib@v0.9.1
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
          USERNAME: khiemlc
      - name: Commit & Push
        run: |
          git config user.name khiemlc
          git config user.email lechikhiem203@gmail.com
          git add -A .
          if git commit -m "generated"; then
            git push
          fi
